<p>
    This project is made as a one of five chalenges for freecodecamp curriculum named <a href="https://www.freecodecamp.org/learn/front-end-development-libraries/front-end-development-libraries-projects/build-a-markdown-previewer">"Front End Development Libraries"</a>.
</p>
<p>
    For parsing markdown to html thi app use: <a href="https://github.com/markedjs/marked">marked.js</a>. 
    <br> 
    Editor is made with help from: <a href="https://ace.c9.io/">ACE editor </a>. Theme for the editor is called "twilight".
</p>
<p>
    Made by Pavel Stastny. <span class="d-inline-block"><a href="https://github.com/PauliCZ44/">My github.</a></span>
</p>