.divider {
    background-color: grey;
    width: 25px !important;
    height: 100%;
}

.editor-layout {
    display: flex;
    height: 100vh;
    div {
        flex-grow: 1;
        width: 100%;
    }
}