.divider {
    background-color: var(--color-auto-gray-8);
    width: 15px !important;
    height: 100%;
}

.editor-layout {
    display: flex;
    height: 100%;
    overflow: hidden;
    div {
        flex-grow: 1;
        width: 100%;
    }
}

#preview {
    padding: 1rem;
    overflow: auto;
}